<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <title>List match!</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            
        <a class="navbar-brand" href="#">Basket App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li> -->
          </ul>
         
            <a href="{% url 'list_player' %}">

            <button  class="btn btn-outline-success">Log in</button>
            </a>
          
        </div>

      </div>
    </nav>
        
            <p>Hola {{request.user}} /<a href="{% url 'auth_logout' %}">Salir</a> /<a href="{% url 'index' %}">Volver</a></p>
            <div class="row">
              <div class="col-md-2 offset-md-5">
                <h1>Matches!</h1>
              </div>
              
                    
                      <div class="col-12">
                      
                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Date</th>
                            <th scope="col">Players</th>
                          </tr>
                        </thead>
                      <tbody>
                        {% for match in object_list %}
                        <tr>
                          <th scope="row">{{match.id}}</th>
                          <td>{{match.name}}</td>
                          <td>@{{match.date}}</td>
                          <td>
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Position</th>
                                  </tr>
                                </thead>
                              <tbody>
                                {% for player in match.players.all %}
                                <tr>
                                  <th scope="row">{{player.id}}</th>
                                  <td>{{player.name}}</td>
                                  <td>@{{player.email}}</td>
                                  <td>@{{player.position}}</td>
                                  
                                </tr>
                                {% endfor %} 

                              </tbody>
                            </table>
                          </td>
                        </tr>
                        {% endfor %} 

                      </tbody>
                    </table>

                    
                    </div>
      
        
        <div class="row">
            {% if object_list.has_next or object_list.has_previous %}
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                     {% if object_list.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ object_list.previous_page_number }}">Previous</a></li>
                    {% endif %}
                    
                    {% for page in object_list.paginator.page_range %}
                    <li class="page-item {% if object_list.number == page %}active{% endif %}"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                    {% endfor %}

                     {% if object_list.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ object_list.next_page_number }}">Next</a></li>
                    {% endif %}
                  </ul>
                </nav>

            {% endif %}
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
  <script language="javascript">
   
    $(document).ready(function(){
      
      $("#mostrar").on( "click", function() {
        if($("#tab1").is(':visible')){
        
          $('#tab1').hide(); //muestro mediante id  
        }else{
          
          $('#tab1').show();
        }

        });
    });
  </script>
</html>


